#cards {
    width: 100vw;


    margin: 1em;

    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 10vw);

    gap: 3vw;
    margin: 5vh 0 0;
}

.card {
    width: 100%;
    height: 14vh;

    border-radius: 5px;
    border-style: dotted;
    border-color: #f7fa5b86;
    color: white;
    border-width: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(./../img/Retrato\ de\ Van\ Gogh\ com\ _DAMN._.png);

    cursor: pointer;
}

.card:hover {
    transform:scale(1.2);

    border-radius: 10px;
    border-color: #f7f7609a;
    border-style: solid;
    border-width:2px;
}
