@import url(./header.css);
@import url(./vars.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./square_enix.css);

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    background-position: top center;

    background-image: url(./../img/img_bbb.png);
    background-size:cover;
}