#btn_menu{
    position: absolute;
    top: 4vh;
    left: 95vw;

    width: 3vh;
    height: 3vh;

    background-color:var(--yellow);

    border-radius: 20px;
    border: none;

    padding: 0%;
    margin: 0;

    cursor: pointer;
}
#btn_menu:hover{
    transform: scale(1.4);
}

#menu_container{
    position: absolute;
    top: 16vh;
    left: 100vw;

    width: 30vw;
    height: 84%;

    background-color: var(--light_blue);

    border-radius: 25px;

    z-index: 1;
}