@import url(./btn_banner.css);

#nav_banner {
    width: 100%;
    height: 70%;

    margin: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#banners {
    width: 400%;
    height: 70%;

    display: flex;
    flex-direction: row;

    position: absolute;
    left: 0;

    transition: all 0.2s ease-in-out;

}

.banner {
    width: 94%;
    height: 100%;

    margin: 0 3%;

    background-color: none;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

#banner1 {
    background-image: url(./../../../assets/img/pixel1.webp);

    border-radius: 20px;
}

#banner2 {
    background-image: url(./../../../assets/img/pixel_bao.gif);

    border-radius: 20px;
}

#banner3 {
    background-image: url(./../../../assets/img/pixel_2dad.gif);

    border-radius: 20px;
}

#banner4 {
    background-image: url(./../../../assets/img/pixel_maybe.gif);

    border-radius: 20px;
}

#btns_banner {
    margin-bottom: 1vw;
}

.btn_banner {
    width: 3vh;
    height: 3vh;
}